{% extends 'base.html' %}
{% block title %} 정은하 설문조사 {% endblock %}
{% block content %}
{% load static %}
<div class="alert alert-success" role="alert">
  질문에 해당되는 <a href="#" class="alert-link"> 투표 </a> 를 해주세요.
<h1>{{question.question_text}}</h1>
{% if error_message %} <p><strong>{{error_message}}</strong></p> {% endif %}

<form action="{% url 'polls:vote' question.id %}" method="post">
    {% csrf_token %}
    {% for choice in question.choice_set.all %}
        <input type="radio" name="choice" id="choice{{forloop.counter}}" value="{{choice.id}}">
        <label for = "choice{{forloop.counter}}">{{choice.choice_text}}</label><br><br>
    {% endfor %}
    <input type="submit" value="Vote" class="btn btn-outline-success">
</form>
</body>
</html>

{% endblock %}